# print("hi")

In [ ]:
# data types

In [ ]:
variablename operator value

In [2]:
average_milk_sales = 10

In [3]:
average_milk_sales

10

In [4]:
print(average_milk_sales)

10

In [5]:
type(average_milk_sales)

int

In [7]:
dailyl_sale_average= 10.5

In [8]:
dailyl_sale_average

10.5

In [9]:
type(dailyl_sale_average)

float

In [10]:
name = 'param'

In [11]:
name

'param'

In [12]:
type(name)

str

In [13]:
name = "athma"

In [14]:
name

'athma'

In [15]:
type(name)

str

In [16]:
parag= '''this is my first project
project on computer science '''

In [17]:
parag

'this is my first project\nproject on computer science '

In [18]:
type(parag)

str

In [19]:
addres= ' doorno90-98,vja-1, pin:521145'

In [20]:
addres

' doorno90-98,vja-1, pin:521145'

In [21]:
type(addres)

str

In [22]:
lst =["ramu","raghu","rani"]

In [23]:
lst

['ramu', 'raghu', 'rani']

In [ ]:
index ---0-n

In [ ]:
3

In [ ]:
slicing--?\>

In [ ]:
lst[index]

In [ ]:
lst[starring index : end index]

In [24]:
lst[0]

'ramu'

In [25]:
lst[0:2]

['ramu', 'raghu']

In [26]:
lst[:2]

['ramu', 'raghu']

In [27]:
lst

['ramu', 'raghu', 'rani']

In [28]:
lst[0]='ramesh'

In [29]:
lst

['ramesh', 'raghu', 'rani']

In [30]:
tuple_lst=(10,20,30)

In [ ]:
tuple_lst---replacement ,,

In [31]:
set_lst= {10,10,30,20,40,60,50}

In [32]:
set_lst= {10,10,30,20,40,60,50}

In [33]:
set_lst

{10, 20, 30, 40, 50, 60}

In [34]:
dict_single= {"name": "param"}

In [35]:
dict_single

{'name': 'param'}

In [ ]:
dict_single[keys]

In [36]:
dict_single.keys()

dict_keys(['name'])

In [37]:
dict_single["name"]

'param'

In [ ]:
mulitple keys, singlue value

In [40]:
dict_mul_sing={"name":"param", "unit1": 20, "unit2": 30}

In [41]:
dict_mul_sing.keys()

dict_keys(['name', 'unit1', 'unit2'])

In [42]:
dict_mul_sing['name']

'param'

In [43]:
dict_mul_sing['unit1']

20

In [44]:
dict_mul_sing['unit2']

30

In [ ]:
mul-keys-mul keyvalues

In [45]:
dict_mul_mul={"name": ["param","athma"] ,"unit1": [10,20] }

In [46]:
dict_mul_mul

{'name': ['param', 'athma'], 'unit1': [10, 20]}

In [47]:
dict_mul_mul.keys()

dict_keys(['name', 'unit1'])

In [48]:
dict_mul_mul["name"]

['param', 'athma']

In [49]:
dict_mul_mul["name"][1]

'athma'

In [50]:
dict_mul_mul['unit1']

[10, 20]

In [51]:
dict_mul_mul['unit1'][1]

20

In [ ]:
conditions

In [ ]:
only condition if

In [ ]:


sales today 
sales 10 profit --->

In [ ]:
if condtions:
    statemeents

In [ ]:
condition

In [ ]:
comparision value
comparision operator
reguler value

In [ ]:

ge

In [53]:
sale = 12
comparsion_sale= 10

In [54]:
if sale >= comparsion_sale:
    print("business is profit")
    
print("business process started")
print("business process ended ")

business is profit
business process started
business process ended

In [55]:
sale = 9
comparsion_sale= 10
if sale >= comparsion_sale:
    print("business is profit")
    
print("business process started")
print("business process ended ")

business process started
business process ended

In [ ]:

profit or loss
10 ge profit 
10 l loss

In [ ]:
if condition:
    statement
else:
    statement

In [56]:
sale = 20
comparision = 10

In [57]:
if sale >= comparision:
    print("business is profit")
else:
    print("businees is loss")
print("business process started")
print("business process ended ")

business is profit
business process started
business process ended

In [58]:
sale = 8
comparision = 10

In [59]:
if sale >= comparision:
    print("business is profit")
else:
    print("businees is loss")
print("business process started")
print("business process ended ")

businees is loss
business process started
business process ended

In [ ]:
more than 2 conditions
if elif else

In [ ]:
if condition:
    statement
elif condition:
    statement
elif condition:
    statment 
else:
    statement

In [ ]:

20 good
15-20 average 
10-15-below average
10 below loss

In [65]:
sale = 24

In [66]:
if sale >= 20 :
    print('business is good')
elif sale >=15 and sale<20:
    print('business is average')
elif sale >=10 and sale<15:
    print('business is below average')
else:
    print("business is loss")

business is good

In [1]:
lst = [10,20,30,40,50]

In [ ]:
unit marks is 10
unit marks is 20

In [ ]:
for i/yourwish in sequ/array/datfram/etc:
    statement

In [2]:
for list_param in lst:
    print("this is unit1 marks-->",list_param)

this is unit1 marks--> 10
this is unit1 marks--> 20
this is unit1 marks--> 30
this is unit1 marks--> 40
this is unit1 marks--> 50

In [3]:

month_names=["apr","may","jun"]
sales=[10,20,30]

In [ ]:
inner---nested looops

In [ ]:
for i in lst:
    statement
    usage -->i
    for j in lst:
        statement
        usage --j--i

In [6]:
for monthname in month_names:
    print("month name is-->",monthname)
    for salesvalue in sales:
        print("sale value is ---->",salesvalue)

month name is--> apr
sale value is ----> 10
sale value is ----> 20
sale value is ----> 30
month name is--> may
sale value is ----> 10
sale value is ----> 20
sale value is ----> 30
month name is--> jun
sale value is ----> 10
sale value is ----> 20
sale value is ----> 30

In [ ]:

nested loop  with if condition

In [7]:
months=['apr','may','jun']
sales=[10,20,30]
# conditions: month apr 30% discount add 
#     may 20% value
#     jun 10% value

In [12]:
for monthnames in months:
    print("month name is --->",monthnames)
    if monthnames=="apr":        
        for salesvalue in sales:
            discount=salesvalue*.30            
            print(" sale value is --->",salesvalue+discount)
    elif monthnames=="may":        
        for salesvalue in sales:
            discount=salesvalue*.20            
            print(" sale value is --->",salesvalue+discount)
    else:        
        for salesvalue in sales:
            discount=salesvalue*.10            
            print(" sale value is --->",salesvalue+discount)

month name is ---> apr
 sale value is ---> 13.0
 sale value is ---> 26.0
 sale value is ---> 39.0
month name is ---> may
 sale value is ---> 12.0
 sale value is ---> 24.0
 sale value is ---> 36.0
month name is ---> jun
 sale value is ---> 11.0
 sale value is ---> 22.0
 sale value is ---> 33.0

In [ ]:
# user defined function

In [ ]:
function definition

def funcitonname(parameters, parameters,---,parameters):
    statements
    return value

In [ ]:
monthname,sales

In [13]:
def monthsales(months,sales):
    for monthnames in months:
        print("month name is --->",monthnames)
        if monthnames=="apr":        
            for salesvalue in sales:
                discount=salesvalue*.30            
                print(" sale value is --->",salesvalue+discount)
        elif monthnames=="may":        
            for salesvalue in sales:
                discount=salesvalue*.20            
                print(" sale value is --->",salesvalue+discount)
        else:        
            for salesvalue in sales:
                discount=salesvalue*.10            
                print(" sale value is --->",salesvalue+discount)

In [15]:
months=['apr','may','jun']
sales=[10,20,30]

In [16]:
monthsales(months,sales)

month name is ---> apr
 sale value is ---> 13.0
 sale value is ---> 26.0
 sale value is ---> 39.0
month name is ---> may
 sale value is ---> 12.0
 sale value is ---> 24.0
 sale value is ---> 36.0
month name is ---> jun
 sale value is ---> 11.0
 sale value is ---> 22.0
 sale value is ---> 33.0

In [14]:
monthsales(['apr','may','jun'],[10,20,30])

month name is ---> apr
 sale value is ---> 13.0
 sale value is ---> 26.0
 sale value is ---> 39.0
month name is ---> may
 sale value is ---> 12.0
 sale value is ---> 24.0
 sale value is ---> 36.0
month name is ---> jun
 sale value is ---> 11.0
 sale value is ---> 22.0
 sale value is ---> 33.0

In [ ]:
# month report 
def monthsales(months,sales):
    for monthnames in months:
        print("month name is --->",monthnames)
        if monthnames=="apr":        
            for salesvalue in sales:
                discount=salesvalue*.30            
                print(" sale value is --->",salesvalue+discount)
        elif monthnames=="may":        
            for salesvalue in sales:
                discount=salesvalue*.20            
                print(" sale value is --->",salesvalue+discount)
        else:        
            for salesvalue in sales:
                discount=salesvalue*.10            
                print(" sale value is --->",salesvalue+discount)

In [ ]:
# week wise report 
def monthsales(weeks,sales):
    for monthnames in months:
        print("month name is --->",monthnames)
        if monthnames=="apr":        
            for salesvalue in sales:
                discount=salesvalue*.30            
                print(" sale value is --->",salesvalue+discount)
        elif monthnames=="may":        
            for salesvalue in sales:
                discount=salesvalue*.20            
                print(" sale value is --->",salesvalue+discount)
        else:        
            for salesvalue in sales:
                discount=salesvalue*.10            
                print(" sale value is --->",salesvalue+discount)

In [ ]:
# days wise report 
def monthsales(days,sales):
    for monthnames in months:
        print("month name is --->",monthnames)
        if monthnames=="apr":        
            for salesvalue in sales:
                discount=salesvalue*.30            
                print(" sale value is --->",salesvalue+discount)
        elif monthnames=="may":        
            for salesvalue in sales:
                discount=salesvalue*.20            
                print(" sale value is --->",salesvalue+discount)
        else:        
            for salesvalue in sales:
                discount=salesvalue*.10            
                print(" sale value is --->",salesvalue+discount)